/*
black color: #252525;
*/

.clearfix {
  clear: both;    
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul {
  text-align: center;    
}

ul li {
  display: inline;
  margin-right: 15%;
  font: 2.2em 'Montserrat Alternates', sans-serif;
}

li {}

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 4em;
  color: #252525;
}

p {}

body {}

header {
  display: flex;
  width: 100%;
  padding-top: 2em;
  text-align: center;
}

.left-side-header {
  flex: 1;
}

.right-side-header {
  flex: 1;
}

.fwd-icon-container {
  display: inline-block;
  width: 200px;
  margin-left: 25px;
  padding: 0 20px;
  background-color: #4a4a4a;
  border-radius: 2px;
}

.fwd-icon-image{
  height: 50px;
  padding: 0 20px;
  background-repeat: no-repeat;
  background-color: #4a4a4a;
  background-image: url(../images/fwd-header-logo.png);
  background-size: contain;
  background-position: center;
}

header h1 {
  width: 24%;
  display: inline-block;
}

nav {
  width: 50%;
  display: inline-block;
}

.brand-icon-medium {
  display: inline-block;
}

.brand-icon-medium img {
  max-height: 8em;    
}

.row-fluid {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 6%;
  padding-left: 4%;
  padding-bottom: 3%;
}

.tile {
  display: inline-block;
  width: 280px;
  height: 280px;
  background-image: url('../images/cellbg-3.png');
  margin-top: 4%;
  margin-right: 5%;
  transition: all 0.25s linear;
}

.tile:hover {
  background-image: url('../images/cellbg-2.png');
}

.tile img {
  max-height: 100%;    
}

.flies-switch {
  width: 100%;
  text-align: center;
}

.flies-switch p {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1em;
  text-decoration: none;
  color: #252525;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}

footer p {
  text-align: center;
  color: #252525;
  font: 1em/100% 'Roboto Slab', serif;
  font-weight: 100;
}
